.root {
    -fx-padding: 5px ;
}

.cell {
    -fx-background-color: black, -fx-base;
    -fx-background-insets: 0, 0;
    -fx-padding: 5px;
}

.cell:right {
    -fx-background-insets: 0, 0 1 0 0;
}

.cell:bottom {
    -fx-background-insets: 0, 0 0 1 0;
}

.cell:right:bottom {
    -fx-background-insets: 0, 0 1 1 0;
}

.cell .text-field {
    -fx-pref-width: 3em;
    -fx-pref-height: 3em;
}

.combo-box-base .list-cell{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border,  #2c6ca4;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-text-fill: white;
}
